*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1132px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%; 
}
input,
button,
select,
textarea{
    outline: none;
    border: none;
}