@import "variable";
@import "global";

@import "header";
@import "hero";

.cards__wrapper {
  display: flex;
  gap: 20px;
  padding-top: 73px;
  .card {
    width: 354px;
    height: 239px;
    background: #f6f6f6;
    border-radius: 22px;
    padding: 45px 25px 40px 40px;
    display: flex;
    align-items: center;
    .card__image {
      width: 100%;
      height: 100%;
    }
  }
  .card__content {
    .card__title {
      font-size: 36px;
      color: $bg-primary;
      font-family: Inter, sans-serif;
    }
    .card__description {
      width: 173px;
      color: #8b8e99;
      padding-top: 9px;
      font-family: Inter, sans-serif;
    }
  }
}

@media (max-width: 900px) {
  .cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 344px) {
  .cards__wrapper {
    .card {
      &__content {
        h3 {
          font-size: 10px;
        }
        p {
          line-height: 25px;
        }
      }
    }
  }
}

/* Watch cards start */

.watch__cards {
  text-align: center;
  margin-top: 135px;
  &__title {
    text-align: center;
    p {
      color: #3858d6;
      font-weight: 500;
      font-family: Inter, sans-serif;
    }
    h1 {
      font-size: 36px;
      font-weight: 700;
      font-family: Inter, sans-serif;
    }
  }
}

.watchs__wrapper {
  width: 1103px;
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
  justify-content: center;
}

.watch__card {
  width: calc((100% - 98px) / 3);
  height: 440px;
  position: relative;
  &__image {
    width: 100%;
    height: 337px;
    background: #f6f6f6;
    padding: 30px 40px;
  }
  &__bucket,
  &__favourite {
    width: 38px;
    height: 38px;
    background: #3858d6;
    padding: 9px 7px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &__favourite {
    background: #ff6b6b;
    padding: 11px 7px;
    top: 56px;
    right: 15px;
  }
}

.watch__card__body {
  text-align: center;
  padding-top: 11px;
  h3 {
    font-size: 24px;
    font-family: Inter, sans-serif;
  }
  .stars {
    margin-top: 8px;
  }
  .watch__card__body__price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 3px;
    p {
      text-decoration: line-through;
      color: #8b8e99;
      font-family: Inter, sans-serif;
    }
  }
}

.view__more {
  width: 196px;
  height: 46px;
  background: #3858d6;
  margin-top: 69px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 135px;
  font-size: 18px;
  font-weight: 600;
  color: $bg-secondary;
  font-family: sans-serif;
  cursor: pointer;
}

/* Watch cards end */

/* Review start */

.reviews__wrapper {
  width: 1102px;
  padding-top: 55px;
  display: flex;
  gap: 47px;
  margin-bottom: 50px;
  .review__card {
    width: 524px;
    height: 239px;
    background: #f6f6f6;
    border-radius: 22px;
    display: flex;
    padding: 30px 34px;
    align-items: center;
    gap: 28px;
    &__image {
      width: 162px;
      height: 179px;
      img {
        width: 100%;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      text-align: start;
      h3,
      p {
        font-size: 24px;
        font-weight: 700;
        font-family: Inter, sans-serif;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        color: #8b8e99;
        line-height: 100%;
        width: 255.97px;
        padding-bottom: 9px;
      }
    }
  }
}

.dots__wrapper {
  width: 134px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin: auto;
  .dots,
  .dots-span {
    width: 18px;
    height: 18px;
    background: #d9d9d9;
    border-radius: 50%;
  }
  .dots-span {
    background: #3858d6;
  }
}

/* Review end */

/* Newsletter start */

.newsletter__wrapper {
  padding-top: 135px;
  width: 1100px;
  padding-bottom: 91px;
  .news__letter {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 74px;
    &__body {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 107px 97px;
      h2,
      p {
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 36px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        color: #8b8e99;
        padding-bottom: 12px;
      }
      .input__wrapper {
        width: 443px;
        height: 60px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding: 9px 9px 9px 19px;
        background: #ffffff;
        input {
          flex: 1;
          height: 100%;
          text-indent: 16px;
          background: transparent;
          font-weight: 500;
          font-family: Poppins, sans-serif;
          font-size: 16px;
        }
        button {
          width: 112px;
          height: 100%;
          background: #3858d6;
          border-radius: 9px;
          color: $bg-secondary;
          font-weight: 500;
          cursor: pointer;
          font-family: Poppins, sans-serif;
        }
      }
    }

    &__image {
      width: 272px;
      height: 301px;
      img {
        width: 100%;
      }
    }
  }
}

/* Newsletter start */

/* Footer start */

.footer {
  width: 100%;
  height: 65px;
  background: $bg-primary;
  text-align: center;
  display: flex;
  padding: 23px;
  p {
    color: $bg-secondary;
    font-weight: 500;
    font-family: Poppins, sans-serif;
  }
}

/* Footer end */
